[ndb_mgmd]
HostName=mysql-management-node
DataDir=/var/lib/mysql

[ndbd default]
NoOfReplicas=2

[ndbd]
HostName=mysql-data-node-1
DataDir=/var/lib/mysql

[ndbd]
HostName=mysql-data-node-2
DataDir=/var/lib/mysql

[mysqld]
HostName=mysql-sql-node
